.rows{
  background-color: blue;
  float: left;
  height: 100px;
  width: 320px;
  clear: both;
}

.rows > div{
  float: left;
  height: 100px;
  width: 100px;
  border: black solid 3px;
}

.square.a{
  background-color: red;
}

