.rows{
  background-color: blue;
  float: left;
  height: 105px;
  width: 320px;
  clear: both;
  color:white;
  text-align: center;
  font-size: 550%
}

.rows > div{
  float: left;
  height: 100px;
  width: 100px;
  border: black solid 3px;
}



