div#Board{
 float:right;
 margin-right: 200px;
 margin-top: 200px;
 margin-bottom: 80px;
 font-family: 'Cabin Sketch', cursive;

}
h1{
  margin: 0 auto;
  display: table;
  margin-bottom: 90px;
  margin-top: 30px;
  font-family: 'Nothing You Could Do', cursive;
}
h2{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;

}

body{
  background-image: url(http://www.clker.com/cliparts/z/1/D/4/F/M/beach-umbrella-hi.png);
  background-size: cover;
}
.rows{

  float: left;
  height: 105px;
  width: 320px;
  clear: both;
  color:#E3A35F;
  text-align: center;
  font-size: 550%

}

.rows > div{
  float: left;
  height: 100px;
  width: 100px;


}
#row0{
  border-bottom: #A67644 solid 5px;

}

#row1{
  border-bottom: #A67644 solid 5px;

}

[id='0']{
  border-right: #A67644 solid 5px;
}

[id='1']{
  border-right: #A67644 solid 5px;
}
[id='3']{
  border-right: #A67644 solid 5px;
}
[id='4']{
  border-right: #A67644 solid 5px;
}
[id='6']{
  border-right: #A67644 solid 5px;
}
[id='7']{
  border-right: #A67644 solid 5px;
}
#scoreBoard > div{
  float:left;
  height: 100px;
  width: 200px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  margin-left: 60px;
  text-align: center;
  color:#A67644;
}

#scores{
  float: clear;
  height: 40%;
  width: 100%;

}

.Score.Board {
  margin-top: 300px;
  margin-left: 200px;
  padding-bottom: 11px;
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}


#restart{
float: left;

}




